@{
    ViewBag.Title = "User";    
}    
    <table class="divcentre">
        <tr>
            <td>
                <div>
                    <img src="@ViewBag.User.avatar" width="200" height="200"/>
                    <table>                        
                        <tr>
                            <td>                                
                                @using (Html.BeginForm("LoadAvatar", "SUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div id="wrapper1">
                                                <input type="file" name="file" id="File1" />
                                            </div>     
                                    <br/>
                                         <br/>
                                             <input type="submit" value="Upload" class="UploadButton" />                           
                                   
                                }                                
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </td>
            <td>
                <div>
                    <form class="divcentre" action="/SUser/Register" method="post">
                        <table>
                            <tr>
                                <td>
                                    <h2>Personal information:</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Name:</p>
                                </td>
                                <td>
                                    <input type="text" name="name" placeholder="@ViewBag.User.name" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Surname:</p>
                                </td>
                                <td>
                                    <input type="text" name="surname" placeholder="@ViewBag.User.surname" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Age:</p>
                                </td>
                                <td>
                                    <input type="number" name="age" placeholder="@ViewBag.User.age" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Sex:</p>
                                </td>
                                <td>@if (@ViewBag.User.sex) { 
                                         <input type="radio" name="group1" value="Male"  checked><label>Male</label>  <br>  ;
                                         <input type="radio" name="group1" value="Female"><label>Female</label><br>;
                                    }
                                    else
                                    {
                                        <input type="radio" name="group1" value="Male" ><label>Male</label>  <br>                                      ;
                                         <input type="radio" name="group1" value="Female" checked><label>Female</label><br>;
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Country:</p>
                                </td>
                                <td>
                                    <input type="text" name="country" placeholder="@ViewBag.User.country" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>E-mail:</p>
                                </td>
                                <td>
                                    <p><input type="email" name="email" value="@ViewBag.User.email" class="g-button" /></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Old Password</p>
                                </td>
                                <td>
                                    <input type="password" name="oldpassword" placeholder="Old Password" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>New Password</p>
                                </td>
                                <td>
                                    <input type="password" name="newpassword" placeholder="New Password" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Confirm Password</p>
                                </td>
                                <td>
                                    <input type="password" name="confirmpassword" placeholder="Confim Password" class="g-button" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Privacy</p>
                                </td>
                                <td>@if (@ViewBag.User.isDataOpened) { 
                                        <input type="radio" name="group2" value="Open" checked><label>Open</label><br>;  
                                        <input type="radio" name="group2" value="Close"><label>Close</label><br>;
                                    }
                                    else
                                    {
                                        <input type="radio" name="group2" value="Open" ><label>Open</label><br>                                    ;
                                        <input type="radio" name="group2" value="Close" checked><label>Close</label><br>;
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Mude:</p>
                                </td>
                                <td>
                                    <input type="text" name="mude" placeholder="Enter what are you doing now." class="g-button" value="@ViewBag.User.status" />
                                </td>
                            </tr>
                           
                        </table>
                        <div class="buttonsavepersonalinfo">
                            <input class="regbutton" type="submit" name="Save" value="Save info" />
                        </div>
                    </form>
                    
                        <table>
                            <tr>
                                <td>
                                @using (Html.BeginForm("LoadBackpicture", "SUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <div id="wrapper1">
                                        <input type="file" name="file" id="File1" />
                                    </div>
                                   
                                         <input type="submit" value="Upload" class="UploadButton" />                                

                                }
                                    </td>
                            </tr>
                        </table>
                   
                    
</div>
            </td>
    </table>


    

  

